Source: edumeet
Section: unknown
Priority: extra
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Build-Depends: debhelper (>= 5), git, nodejs, python3, libtinfo5, libxml2-dev, python3-pip
Standards-Version: 3.7.2

Package: edumeet-media-node
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 nodejs (>=20),
 nodejs (<<22),
 python3-dev,
 python3-pip
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>

Package: edumeet-room-server
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 nodejs (>=20),
 nodejs (<<22),
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>

Package: edumeet-client
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>