[Unit]
Description=Edumeet
After=network.target redis.service

[Service]
Type=simple
User=edumeet
ExecStart=/usr/bin/node /usr/share/edumeet/server.js
WorkingDirectory=/usr/share/edumeet
Restart=on-failure

[Install]
WantedBy=multi-user.target
