[Unit]
Description=Edumeet Room Server
After=network.target

[Service]
#EnvironmentFile=/etc/edumeet/room-server.conf
Type=simple
User=edumeet
ExecStart=/usr/bin/node server.js
WorkingDirectory=/usr/share/edumeet/room-server/
Restart=always

[Install]
WantedBy=multi-user.target
